{% extends 'web_admin/base_login.html' %}
{% block content %}
<h3>Login</h3>
<form method="post">
    {% csrf_token %}
    <div data-mdb-input-init class="form-outline mb-4">
        <input id="email" type="email" name="username" required class="form-control">
        <label for="form-label" for="email">Email</label>
    </div>
    <div data-mdb-input-init class="form-outline mb-4">
        <label class="form-label" for="password">Password</label>
        <div class="input-group">
            <input type="password" class="form-control" id="password" name="password" placeholder="Password" required />
            <span class="input-group-text eye-icon" onclick="togglePassword()">
                <i class="fas fa-eye" id="toggleEye"></i>
            </span>
        </div>
    </div>
    <div class="center">
        <button class="btn btn-primary btn-block mb-4" type="submit">Login</button>
    </div>
</form>
<script>
    function togglePassword() {
      const passwordInput = document.getElementById("password");
      const eyeIcon = document.getElementById("toggleEye");
      const isPassword = passwordInput.type === "password";

      passwordInput.type = isPassword ? "text" : "password";
      eyeIcon.classList.toggle("fa-eye");
      eyeIcon.classList.toggle("fa-eye-slash");
    }
</script>
{% endblock %}