{% extends 'web_admin/base.html' %}
{% load crispy_forms_tags %}
{% load widget_tweaks %}
{% block title %}{{ page_title|default:"Change Password" }}{% endblock %}
{% block content %}
<div class="container" style="min-width: 400px; max-width: 500px;">
    <div class="col s12">
        <h4 class="center">{{page_title}}</h4>
        <form method="post">
            {% csrf_token %}
            {% for field in form %}
            <div data-mdb-input-init class="form-outline mb-4">
                <label for="{{ field.id_for_label }}" class="form-label">{{ field.label }}</label>
                {% if field.field.widget.input_type == 'password' %}
                <div class="input-group">
                    {{ field|add_class:"form-control" }}
                    <i class="fas fa-eye toggle-password position-absolute top-50 end-0 translate-middle-y me-3"
                        style="cursor:pointer;" data-target="{{ field.id_for_label }}"></i>
                </div>
                {% elif field.field.widget.input_type == 'radio' %}
                <div class="form-check">
                    {{ field|add_class:"form-check-input" }}
                </div>
                {% else %}
                {{ field|add_class:"form-control" }}
                <div class="input-group">
                    {{ field }}
                </div>
                {% endif %}
                {% for error in field.errors %}
                <div class="text-danger">{{ error }}</div>
                {% endfor %}
            </div>
            {% endfor %}
            <div class="center mt-4">
                <button class="btn btn-primary btn-block mb-4" type="submit">Change Password</button>
            </div>
        </form>
    </div>
</div>
<script>
    document.addEventListener("DOMContentLoaded", function () {
        document.querySelectorAll(".toggle-password").forEach(icon => {
            icon.addEventListener("click", function () {
                const inputId = this.getAttribute("data-target");
                const input = document.getElementById(inputId);
                const isPassword = input.type === "password";
                input.type = isPassword ? "text" : "password";
                this.classList.toggle("fa-eye");
                this.classList.toggle("fa-eye-slash");
            });
        });
    });
</script>
{% endblock %}